body{
  background-color: whitesmoke;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

h4 {
  text-align: left;
}

h6  {
  text-align: left;
  font-weight: bold;
}

p {
  text-align: left;
}
