body {
  background-color: black;
  text-align: center;
}

h5 {
font-family: 'Slabo 27px', serif;
}

h6 {
  text-align: left;
  font-weight: bold;
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
  text-decoration: underline;
}

p {
  text-align: left;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* Hero Image */
.hero-container {
  height: 700px;
}

.my-name {
  font-family: 'Poiret One', cursive;
  color: floralwhite;
  margin-top: 1.3em;
  font-size: 6em;
}

.my-titles {
  font-family: 'Titillium Web', sans-serif;
  color: floralwhite;
  font-size: 1em;
}

.my-title {
  margin: 0 10px;
}

.hero-sub-header {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}


/* About Steve */
.about-steve {
  height: auto;
  padding-top: 4em;
}

.steve-screenshot {
  height: 100%;
  width: 100%;
}

.photo-caption {
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

/* Projects */

.project {
  height: 375px;
}

.project-header{
  text-align: left;
  margin-top: 1em;
}

/* Write Away */
.write-away {
  color: black;
  font-family: 'Damion', cursive;
  text-align: left;
  font-size: 7em;
  margin-left: 6%;
}

.visit-write-away{
  float: right;
  right: 0;
  margin-right: 15%;
  margin-top: -6em;
  display: inline;
}

.app-screenshot {
  float: right;
  right: 0;
  margin-right: -10%;
  width: 400px;
}

.app-screenshot > a > img {
  width: 100%;
  border: 1px solid grey;
}

/* Tic Tac Toe */
.space-ttt-header {
  font-family: 'Black Ops One', cursive;
  margin-left: 10%;
  /*width: 45%;*/
  color: yellow;
}

.parallax-app-screenshot {
  float: right;
  right: 0;
  margin-right: 8%;
  margin-top: -10em;
  width: 400px;
  display: inline-block;
}

.parallax-app-screenshot > a > img {
  width: 100%;
  border: 1px solid yellow;
}

.features {
  margin-left: 20%;
  width: 25%;
}

.bullet-point {
  font-size: 1.3em;
  margin-top: -1em;
  text-align: left;
}

.feature-li {
  text-align: left;
}

.sub-tagline{
  width: 50%;
  margin-top: -0.7em;
}

.third-tagline{
  color: yellow;
  margin-left: 5%;
  width: 40%;
  padding-right: 10%;
  margin-top: -1em;
  display: inline-block;
}

.main-project{
  height: 450px;
}

/* Skills */
.skills-table {
  height: 3em;
}

th {
  font-family: 'Poiret One', cursive;
  color: rgb(255,215,0);
  text-align: center;
  font-size: 1.8em;

}

td {
  font-family: 'Titillium Web', sans-serif;
  /*color: rgb(255,215,0);*/
  color: white;
  padding: 0;
  width: 33%;
  text-align: center;
  font-size: 1.5em;
}

/* Universal */
.parallax > img {
  width: 100%;
}

.title-section{
  height: 5em;
  text-align: left;
}

/* Navigation and Menus */

.menu-bar-icon{
  height: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: none;
}

.menu-links{
  display: inline-block;
  margin-left: 5%;
}

.nav-links{
  text-align: right;
  padding-right: 5%;
}

.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.link-bar {
  text-align: left;
  position: absolute;
  height: 3em;
  width: 50%;
  margin-top: 0.5em;
}

.link-bar-bottom {
  text-align: left;
  position: absolute;
  height: 3em;
  width: 100%;
  margin-top: 3em;
  top: 0;
}

.link-bar-icon {
  height: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: none;
  text-align: left;
}

/* Quote Backdrops */

.commercial-main-header {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 3em;
}

.commercial-main-sub-header {
  font-family: 'Poiret One', cursive;
  margin-top: 3em;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.commercial-header-left {
  margin-top: 2em;
  text-align: left;
  padding-left: 10%;
}

.commercial-sub-header-left {
  margin-top: 10em;
  padding-left: 10%;
  padding-right: 50%;
  text-align: left;
}

.commercial-header-right {
  margin-top: 2em;
  text-align: left;
  padding-left: 50%;
}

.commercial-sub-header-right {
  margin-top: 11em;
  padding-left: 50%;
  padding-right: 9%;
  text-align: left;
  /*margin-left: 0%;*/
}

.commercial-sub-header-center {
  margin-top: 9em;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  /*margin-left: 0%;*/
}

/* Quotes */
.quote-and-author {
  float: right;
  margin-right: 40px;
}

.top-caption {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  text-align: left;
  color: white;
}

.author-image {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-left: 2%;
  margin-top: 1em;
  margin-right: 1%;
  border: 2px solid black;
}

.quote-author-left {
  text-align: left;
  padding-left: 35%;
}

.quote-author-right {
  text-align: right;
  padding-right: 15%;
}

.quote-author-center {
  text-align: center;
  padding-left: 30%;
  margin-top: -1em;
}

.long-quote {
  margin-top: 6em;
}

.chapter-header {
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
}
